/* Aloe Vera Page
Developed by: Mayowa Ogunyemi
Assignment: QAP 1
Date Created: March 04, 2024 */

html {
    max-width: 1200px;
    max-height: fit-content;
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flow-root;
    background-color: rgb(50, 52, 49);
    background-blend-mode: overlay;
    box-sizing: border-box;

}

a {
text-decoration: none;
color: rgb(219, 237, 215);
}

a:hover {
    /* background-color: rgb(106, 179, 156); */
    color: rgb(0, 255, 125);
    text-shadow: 0px 0px 2px rgb(0, 255, 125);
    border-radius: 20px;
    scale: 105%;

}

h2 {
    font-size: 28pt;
    font-family: "Raleway";
}

h3 {
    font-size: 20pt;
    font-weight: 500;
    font-family: "Poppins";
}

hr {
    border: 1pt solid rgb(187, 204, 183);
    opacity: 75%;
    margin-top: -25pt;
}

p {
    font-size: 18pt;
    font-family: "Raleway";
    text-align: justify;
    font-weight: 300;
}

nav {
    width: 1200px;
    height: 75px;
    background-color: rgb(26, 80, 36);
    background-image: linear-gradient(-105deg, rgba(62, 32, 152, 0.447),rgba(123, 199, 200, 0.3));
    display: inline-flex;
    margin-top: 25px;
    padding: 15px 0px 10px 70px;
    font-size: 22pt;
    font-family: "Raleway";
    text-align: justify;
    font-weight: 500;
    border-radius: 50px;
    color: rgb(219, 237, 215);
    border: 1pt solid rgba(219, 237, 215, 0.433);
    box-sizing: border-box;
    position: absolute;
}

header {
    margin-bottom: 100px;
}

footer {
    width: 1200px;
    height:fit-content;
    font-size: 12pt;
    font-family: "Raleway";
    /* text-align: center; */
    font-weight: 200;
    color: rgb(219, 237, 215);
    display: flow-root;
    padding: 0px 50px 50px 50px;
    box-sizing: border-box;
    background-color: rgb(35, 41, 41);
    background-image: linear-gradient(rgba(0, 0, 0, 0.168), rgba(84, 109, 53, 0.115));
    background-blend-mode: overlay;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.banner_box {
    width: 1200px;
    height: 300px;
    /* background-color: rgba(39, 157, 67, 0.594); */
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 50px;
    /* margin-bottom: -50px; */
    margin-top: 50px;
    background-color: rgb(35, 41, 41);
    background-image: url(images/ALOE_BANNER_01.png);
    background-size: cover;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    color: rgb(202, 225, 195);

}

.banner_text_01 {
    font-size: 60pt;
    font-family:"Lobster", Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    margin-top: 50pt;
    margin-left: 50pt;
}

.banner_text_02 {
    font-size: 28pt;
    font-family: "Poppins";
    font-weight: 300;
    margin-top: 140pt;
    margin-left: -210pt;
    line-height: 50%;
}

.banner_left {
    width: 800px;
    height: 300px;
    background-image: linear-gradient(90deg, rgb(33, 42, 37), 70% ,transparent);
    padding: 30px;
    border-radius: 50px;
    box-sizing: border-box;

}

.banner_right {
    width: 400px;
    height: 5300px;


}

.body_box {
    display: inline-flex;
    box-sizing: border-box;
}

.left_box {
    width: 250px;
    height: 2700px;
    /* background-color: rgb(39, 157, 133); */
    background-image: linear-gradient(rgb(39, 157, 133),transparent);
    display: flow-root;
    box-sizing: border-box;
}
.main_box {
    width: 1200px;
    height: 3400px;
    background-color: rgb(35, 41, 41);
    display: flow-root;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    margin-top: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.168), rgba(84, 109, 53, 0.115));
    background-blend-mode: overlay;
}

.inter_box {
    width: 1200px
}

.section_box {
    width: fit-content;
    height: fit-content;
    background-color: rgb(26, 80, 36);
    background-image: linear-gradient(-105deg, rgba(62, 32, 152, 0.447),rgba(123, 199, 200, 0.3));
    display: flow-root;
    padding: 10px 50px;
    margin-top: 25pt;
    margin-bottom: 50px;
    border-radius: 50px;
    color: rgb(219, 237, 215);
    /* border: 2pt solid rgb(219, 237, 215); */
    box-shadow: rgba(0, 0, 0, 0.25) 8px 8px 3px;
}

.img_box_01 {
    width: 400px;
    height: 480px;
    background-image: url(images/ALOE_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 5pt solid rgb(187, 204, 183); */
    float: right;
    margin-left: 100px;
    shape-outside: polygon(60% 105%, 0 0, 100% 0);
}

.img_box_02 {
    width: 384px;
    height: 534px;
    background-image: url(images/ALOE_BEAUTY_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 5pt solid rgb(187, 204, 183); */
    float: left;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    border: 2pt solid rgb(219, 237, 215);
    box-shadow: rgba(0,0,0,0.35) 6px 6px 4px;
}

.img_box_03 {
    width: 320px;
    height: 450px;
    background-image: url(images/ALOE_STACK_01.png);
    background-repeat: no-repeat;
    background-position: 0px -35px;
    background-size: cover;
    /* border: 5pt solid rgb(187, 204, 183); */
    float: right;
    margin-left: 85px;
    shape-outside: polygon(0% 90%, 100% 30%, 80% 0%);
}

.top_box {
    font-size: 20pt;
    font-family: "Raleway";
    font-weight: 500;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
    border: 2pt solid rgb(219, 237, 215);
    border-radius: 50px;
    width: 175pt;
    margin-left: 375px;
    padding-bottom: 5px;
}

video {
    width: 480px;
    height: auto;
    border-radius: 25px;

}

.video_box {
    width: 480px;
    height:  270px;
    border: 2pt solid rgb(219, 237, 215);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 3px;
    margin-top: 25px;
    margin-right: 20px;
    float: left;
}